
{:paths ["source-code/cljs"]
 :deps  {bithandshake/cljc-fruits         {:git/url "https://github.com/bithandshake/cljc-fruits"
                                           :sha     "e94a7762c9aeaea846ec58c22f11154cc8623ea2"}
         bithandshake/cljs-dom            {:git/url "https://github.com/bithandshake/cljs-dom"
                                           :sha     "0bb9ecf31ab170c9fd9fe37339f7df89add5fe49"}
         mt-app-kit/intersection-observer {:git/url "https://github.com/mt-app-kit/intersection-observer"
                                           :sha     "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"}
         org.clojure/clojurescript        {:mvn/version "1.10.891"}
         reagent/reagent                  {:mvn/version "1.2.0"}}}
