
{:paths ["source-code/cljs"]
 :deps  {mt-app-kit/intersection-observer {:git/url "https://github.com/mt-app-kit/intersection-observer"
                                           :sha     "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"}
         bithandshake/cljc-fruits         {:git/url "https://github.com/bithandshake/cljc-fruits"
                                           :sha     "289bfaa76c90632b4332e89a226eb657e7eb4107"}
         mt-utilities/cljs-dom            {:git/url "https://github.com/mt-utilities/cljs-dom"
                                           :sha     "7d9641ceafa03a380b0b8c5151264de27fb47226"}
         org.clojure/clojurescript        {:mvn/version "1.10.891"}
         reagent/reagent                  {:mvn/version "1.2.0"}}}
